* {
margin:0px;
padding:0px;
}

#header {
margin:auto;
width:500px;
font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
list-style:none;
}

.nav > li {
float:left;
}

.nav li a { /*menu*/
background-color:#FFFFFF;
color:#828282;
text-decoration:none;
padding:20px 22px;
display:block;
}

.nav li a:hover {
background-color:#434343;
}

.nav li ul {
display:none;
position:absolute;
min-width:140px;

}

.nav li:hover > ul {
display:block;
}

.nav li ul li {
position:relative;
}

.nav li ul li ul {
right:-140px;
top:0px;
}

body {
background-color: #FFFFFF;
}
#Layer1 {
position: absolute;
        width: 1911px;
        height: 67px;
        z-index: 2;
        left: 661px; /* Centrar horizontalmente */
        margin-left: -660px; /* Mitad del ancho negativo */
        top: 0px;
        background-color: #FFFFFF;
    }
        .Estilo2 {color: #9B9B93}
        #Layer2 {
position:absolute;
width:200px;
height:46px;
z-index:4;
left: 96px;
top: 144px;
}
        #Layer3 {
position:absolute;
width:200px;
height:24px;
z-index:5;
left: 94px;
top: 212px;
background-color: #5C3B23;
}
.Estilo9 {font-size: 18px}
.Estilo10 {font-family: sans-serif}
#Layer4 { position:absolute;
width:200px;
height:115px;
z-index:3;
left: 250px;
top: 880px;
}
.Estilo11 { font-family: sans-serif;
font-size: 20px;
font-weight: bold;
color:#37352F;
}
#Layer5 { position:absolute;
width:774px;
height:115px;
z-index:4;
left: 950px;
top: 890px;
}
.Estilo12 { font-family: sans-serif;
font-size: 36px;
font-weight: bold;
color: #37352F;
}
#Layer6 { position:absolute;
width:456px;
height:61px;
z-index:5;
left: 750px;
top: 1350px;
}
#Layer7 {
position:absolute;
width:302px;
height:115px;
z-index:6;
left: 200px;
top: 1500px;
}
.Estilo13 {font-family: sans-serif; font-size: 36px; font-weight: bold; color: #21B44B; }
.Estilo14 {
font-size: 20px;
color: #37322F;
font-weight: bold;
font-family:sans-serif;

}
#Fruta{
      transition: transform 0.5s ease; /* Transición suave en la propiedad 'transform' */
    }

    /* Cambia el tamaño de la imagen al hacer hover */
    #Fruta:hover {
      transform: scale(1.2); /* Ajusta el valor según el nivel de zoom deseado */
    }
#Layer8 {
position:absolute;
width:301px;
height:115px;
z-index:1;
left: 599px;
top: -4px;
}
#Layer9 {
position:absolute;
width:302px;
height:115px;
z-index:7;
left: 1400px;
top: 1500px;
}
#Layer10 {
position:absolute;
width:301px;
height:115px;
z-index:8;
left: 200px;
top: 2150px;
}
#Layer11 {
position:absolute;
width:301px;
height:115px;
z-index:9;
left: 801px;
top: 2151px;
}
#Layer12 {
position:absolute;
width:299px;
height:115px;
z-index:10;
left: 1403px;
top: 2152px;
}
#Layer13 {
position:absolute;
width:301px;
height:115px;
z-index:11;
left: 800px;
top: 2700px;
}
#BanerDown {
position:absolute;
width:200px;
height:115px;
z-index:1;
left: 0px;
top: 3252px;
}
#Comentarios {
position:absolute;
width:465px;
height:115px;
z-index:2;
left: 623px;
top: 139px;
}
.Info {
font-family: sans-serif;
font-size: 28px;
}
.NosexdperoBig {
font-family: sans-serif;
font-weight: bold;
font-size: 36px;
}
.Link {
font-family: sans-serif;
color: #21B44B;
font-weight: bold;
font-size: 30px;
}
#Contacto {
position:absolute;
width:453px;
height:115px;
z-index:1;
left: 590px;
top: 98px;
}
.Links-Down {
color: #F0F0F0;
font-size: 18px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
#Menu-downs {
position:absolute;
width:200px;
height:115px;
z-index:1;
left: 815px;
top: 35px;
}
.Estilo15 {font-family: sans-serif; font-size: 28px; color: #F0F0F0; }
.Estilo16 {color: #F0F0F0}
#Layer14 {
	position:absolute;
	width:249px;
	height:63px;
	z-index:12;
	left: 1646px;
	top: 1px;
}